@import "notosans-fontface/css/notosans-fontface.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  z-index: 1000;
}

nav button {
  z-index: 10001;
}

.hero {
  /* min-height: 900px; */
  /* height: 900px; */
}

.star-wrapper {
  z-index: 100;
}

.star-wrapper h1 {
  z-index: 101;
}

.opening-description {
  z-index: 10;
}

.discover {
  z-index: 60;
}

.big-star {
    left: -437px;
    top: -143px;
}

.big-rec {
    top: -327px;
    right: -515px;
}

.long-rec {
  left: 120px;
  top: 140px;
}

.polygon {
    left: 397px;
    top: 388px;
}

.big-arrow {
  left: 120px;
  top: 140px;
}





section {
  min-height: 100vh;
}

.nav-button {
}

.menu-wrapper {
  z-index: 1002;
}

.menu-visible {
    transition: transform 0.3s linear;
    /* opacity: 1; */
    transform: translateX(0) !important;
    /* visibility: visible; */

  }

.menu {
    transition: transform 0.3s linear;

    transform: translateX(100%);
    /* visibility: hidden; */
    /* opacity: 0; */
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media only screen and (min-width: 1000px) {
  .nav-button {
    margin: 0 auto;
  }

  .star-wrapper {
    height: 269px;
  z-index: 100;
}
  .star-wrapper h1 {
    z-index: 101;
}

.weeks-list li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 72px;
}
.testimonial-description {
  /* height: 350px; */
}
.about-dustin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  border-radius: 500px;
}
.weeks-list li {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.menu-visible {
    transition: transform 0.3s linear;
    transform: translateX(0) !important;
  }

.menu {
    transition: transform 0.3s linear;
    transform: translateX(0);
  }
}
